<!DOCTYPE html>
<html>
<head>
	<title>ECMA</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<!-- <link rel="stylesheet" type="text/css" href="../public/css/index.css"> -->
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/ECMA/part4.js"></script>
</head>
<body>
 	只用控制台
</body>
</html>