<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../public/css/index.css">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/index.js"></script>
</head>
<body>
 	<input type="text" readonly="readonly" id="indentify" maxlength="16" />
    <!-- <a href="ECMA.html">ECMA</a> -->
    <div class="keyborad">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>0</span>
        <span>X</span>
        <span class="delete">x</span>
    </div>
</body>
</html>