body{
	width: 800px;
	margin: 20px auto;
}
.linkcolor{
	color: #f05654;
	text-decoration: none;
}
.expand-transition {
	transition: all .3s ease;
	height: 30px;
	padding: 10px;
	background-color: #eee;
	overflow: hidden;
}
.expand-enter, .expand-leave{
	height: 0;
	padding: 0 10px;
	opacity: 0;
}

ul{
	padding-left: 0;
}
.staggered-transition {
    transition: all .5s ease;
    overflow: hidden;
    margin: 0;
    height: 20px;
}
.staggered-enter, .staggered-leave {
    opacity: 0;
    height: 0;
}