<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../public/css/index.css">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
 	<a href="views/animate.html" target="_blank">animate</a>
    <a href="views/comment/comment.html" target="_blank">comment</a>
    <a href="views/category.html" target="_blank">category</a>
    <a href="views/likeBtn.html" target="_blank">like</a>
    <a href="views/css/selector.html" target="_blank">selector</a>
    <a href="views/css/search.html" target="_blank">search</a>
    <a href="views/css/coffee.html" target="_blank">coffee</a>
    <!-- there is something wrong with this page -->
    <a href="views/css/timeStyle.html" target="_blank">timeStyle</a>
    <a href="views/commonJs/common.html" target="_blank">commonJs</a>
    <a href="views/tips/tips.html" target="_blank">tips</a>
    <a href="views/profile/profile.html" target="_blank">profile</a>
 	<div class="clock">
        <!-- 时钟刻度线条 -->
        <div class="line"></div>
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
        <div class="line line4"></div>
        <div class="line line5"></div>
        <div class="line line6"></div>
        <!-- 内部白圆与线条配合形成刻度 -->
        <div class="white_circle"></div>
        <!-- 时钟中心圆点 -->
        <div class="black_circle"></div>
        <div class="hour"></div>
        <div class="minute"></div>
        <div class="second"></div>
    </div>
</body>
</html>