<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./../../css/page/outline.css">
</head>
<body>
 	<div class="parent1">
 		<div class="child1">center1</div>
 	</div>

 	<div class="parent2">
 		<div class="child2">center1</div>
 	</div>

 	<!-- flex -->
 	<div class="parent3">
 		<div>center1</div>
 	</div>

 	<div class="parent4">
 		<span>center1</span>
 	</div>

 	<div class="parent5">
 		<span>center1</span>
 		<span>center1</span>
 		<span>center1</span>
 	</div>

 	<div class="layout1">
 		<div class="header1">header1</div>
 		<div class="content1">content1</div>
 		<div class="footer1">footer1</div>
 	</div>

 	<div class="header2" style="background-color: #ef5654;">
 		<div class="layout2">header2</div>
 	</div>
 	<div class="layout2">content2</div>
 	<div class="footer2" style="background-color: #ef5654;">
 		<div class="layout2">footer2</div>
 	</div>

 	<div class="layout3">
 		<div class="sub1 bg-height">sub1</div>
 		<div class="extra1 bg-height">extra1</div>
 		<div class="main1 bg-height">main1</div>
 	</div>

 	<div class="layout4">
 		<div class="sub2 bg-height">sub1</div>
 		<div class="main2 bg-height">main1</div>
 		<div class="extra2 bg-height">extra1</div>
 	</div>

 	<p>圣杯布局</p>
 	<div class="layout5">
 		<div class="main3 bg-height">main1</div>
 		<div class="sub3 bg-height">sub1</div>
 		<div class="extra3 bg-height">extra1</div>
 	</div>

 	<p>双飞翼布局</p>
 	<div class="layout6">
 		<div class="main4 bg-height">main1</div>
 	</div>
	<div class="sub4 bg-height">sub1</div>
	<div class="extra4 bg-height">extra1</div>

	<p>felx布局</p>
	<!-- flex -->
	<div class="layout7">
 		<div class="extra5 bg-height">sub1</div>
 		<div class="main5 bg-height">main1</div>
 	</div>
 	<div class="layout7">
 		<div class="main5 bg-height">main1</div>
 		<div class="extra5 bg-height">sub1</div>
 	</div>
 	<div class="layout7">
 		<div class="main5 bg-height">main1</div>
 		<div class="extra5 bg-height">sub1</div>
		<div class="extra5 bg-height">extra1</div>
 	</div>
 	<div class="layout7">
 		<div class="extra5 bg-height">sub1</div>
 		<div class="main5 bg-height">main1</div>
		<div class="extra5 bg-height">extra1</div>
 	</div>
 	<div class="layout7">
 		<div class="extra5 bg-height">sub1</div>
		<div class="extra5 bg-height">extra1</div>
		<div class="main5 bg-height">main1</div>
 	</div>
</body>
</html>