<!DOCTYPE html>
<html>
<head>
	<title>timer</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../public/css/timeStyle.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1459932167_5440252.css">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/selector.js"></script>
</head>
<body>
 	<output class="clip-text" id="time"></output>
</body>
</html>