<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="reset.css">
	<script src="../app/lib/vue/dist/vue.min.js"></script>
</head>
<body>
	<header class="header">Todo Lists</header>
	<div id="app" class="main">
		<div class="main-input">
			<span v-if="items.length" class="main-input-check">
				<input type="checkbox" @click="toggle()" v-model="checkAll">
			</span>
			<input type="text" @keyup.enter="addItem()" v-model="item">
		</div>
		<div class="items-list">
			<ul>
				<li v-for="(item, index) in items" :class="{'item-done': item.checked}">
					<span>
						<input type="checkbox" @click="check(item)" v-model="item.checked">
					</span>
					<span>{{ item.text }}</span>
					<span class="itme-delete" @click="removeItem(index)">x</span>
				</li>
			</ul>
		</div>
		<div v-if="items.length" class="content-footer">
			<div>
				<span>{{ items.length }}</span> items left
			</div>
			<div class="content-btn">
				<button class="btn" @click="showItems()">All</button>
				<button class="btn" @click="showActive()">Active</button>
				<button class="btn" @click="showComplete()">Completed</button>
				<button class="btn btn-remove" v-if="showAll" @click="removeAll()">Remove</button>
			</div>
		</div>
	</div>
	<!-- <footer class="footer">
		<div>Create By ayfickle</div>
	</footer> -->

	<script type="text/javascript" src="index.js"></script>
</body>
</html>